form {
    display:flex;
    flex-direction: column;
}

form div {
    display:flex;
    justify-content:space-around;
    padding: 10px;
}

button {
    width: 200px;
    display: flex;
    justify-content:center;
}